
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

img.main-logo {
    width: 140px;
}

.card-table {
  width: 100%;
}

thead {
  border-bottom: 1px solid #f5f5f5;
}

.main-container {
  margin-left: 140px;
  padding: 20px;
}
